@model b0wter.Fbrary.Formatter.Html.Viewmodel
@{
}
<html>
<head>
    <title>"Fbrary List"</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>
<div class="container">
    <thead>
        <caption>Audio Books</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Serie</th>
        <th>Autor</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td data-label="Id">
                @book.Id
            </td>
            
            <td data-label="Name">
                @book.Album
            </td>
            
            <td data-label="Serie">
                @book.AlbumArtist
            </td>
            
            <td data-label="Autor">
                @book.Artist
            </td>
        </tr>
    }
    </tbody>
</div>
</body>
</html>